.row {clear: both;width:100%;float:left}
.left {float:left;width:auto;}
.flowline {border:1px solid #ccc;}
.element {width: 100px;margin: 10px;}
.horizontal .element-1 {height:100px;}
.horizontal .element-2 {height:150px;}
.horizontal .element-3 {height:200px;}
.vertical .element-1 {width:100px;}
.vertical .element-2 {width:150px;}
.vertical .element-3 {width:200px;}